Body {
  font-family: Josefin Sans;
}
.jumbotron {
  padding-top: 7rem;
  background-color: #ffffff;
}

#About {
  background-color: #7892bc;
}

#Project {
  padding-top: 7rem;
  background-color: #ffffff;
}

section {
  padding-top: 6rem;
}
