body {
  min-height: 4000px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #7892bc;
}

#About {
  background-color: #ffffff;
}

#contact {
  padding-top: 2rem;
  background-color: #7892bc;
}
